<link rel="stylesheet" href="style-collection.css">

<div class="title">
    My Collections
</div>

<div class="collection-wrapper">
    <div class="collection-row">
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
    </div>
</div>
