<link rel="stylesheet" href="style-collection.css">

<script>
    var login = document.querySelectorAll(".header-item");
    login[4].innerHTML = `<a class="link" href="/logout">Logout</a>`;
    document.querySelector('#login-link').innerHTML = 'Log out';
    document.querySelector('#login-link').href = '/logout';
</script>

<div class="title">
    My Collections
</div>

<div class="collection-wrapper">
    <div class="collection-row">
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
        <div class="collection-item">
            <div class="collection-item_image">
            </div>
            <div class="collection-item_desc">
                First NFT Mint <br>
                by Shubham
            </div>
        </div>
    </div>
</div>
