<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanNFT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="header-item"><a href="/">Home</a></div>
        <div class="header-item"><a href="/dashboard">Dashboard</a></div>
        <div class="header-item"><a href="/my-collection">My Collection</a></div>
        <div class="header-item"><a href="/mint">Mint</a></div>
        <div class="header-item"><a href="/login">Log In</a></div>
    </div>
    <div class="body">
        <%- body %>
    </div>
    <div class="footer">
        UrbanNFT &#169; 2023
    </div>
</body>
</html>