<script>
    var login = document.querySelectorAll(".header-item");
    login[4].innerHTML = `<a class="link" href="/logout">Logout</a>`;
</script>

<div class="title">
    Mint your NFT
</div>

<form action="/mint" method="POST" enctype="multipart/form-data">
    <input type="file" name="user_file" id="file">
    <input type="submit" value="UPLOAD">
</form>
